html {
    box-sizing: border-box;
    font-family: 'Karla';
    font-size: 16px;
  }
  
  body {
    padding: 20px;
  }
  
  h2, h4, p {
    margin: 0;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  #pricing-card {
    width: 600px;
    height: 400px;
    box-shadow: 4px 4px 9px 0px rgba(0,0,0,0.23);
    border-radius: 5px;
    overflow: hidden;
  }
  
  #top-section {
    width: 100%;
    height: 45%;
    padding: 25px;
  }
  
  #top-section h2 {
    color: #2ab2af;
    margin-bottom: 20px;
  }
  
  #top-section h4 {
    color: #c0df34;
    margin-bottom: 10px;
  }
  
  #top-section p {
    color: #98a6bd
  }
  
  #bottom-section {
    width: 100%;
    height: 55%;
    color: white;
  }
  
  #bottom-left {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #2ab2af;
    padding: 25px;
  }
  
  #bottom-left h4 {
    margin-bottom: 20px;
  }
  
  #bottom-left p {
    font-size: 0.9rem
  }
  
  #price {
    font-weight: 700;
    font-size: 1.6rem;
    display: inline-block;
  }
  
  #per-month {
    display: inline-block;
    opacity: 0.6;
    position: relative;
    top: -2px;
    margin-left: 7px;
    font-size: 0.8rem
  }
  
  #price-section {
    margin-bottom: 10px;
  }
  
  button {
    background-color: #c0df34;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    box-shadow: -2px 2px 5px 0px rgba(0,0,0,0.15);
    margin-top: 28px;
    font-weight: 600;
  }
  
  button:hover {
    cursor: pointer;
    background-color: #b0cc2f;
    transform: scale(1.02);
  }
  
  #bottom-right {
    display: inline-block;
    width: 50%;
    height: 100%;
    vertical-align: top;
    background-color: #2ebfbc;
    padding: 25px;
  }
  
  #bottom-right h4 {
    margin-bottom: 25px;
  }
  
  ul {
    padding: 0;
    list-style: none;
    font-size: 0.9rem;
    opacity: 0.8;
  }